.p{
    font-size:85px;
    align-items: center;
}
img{
    width: 200px;
    border-radius: 50%;
}
.name{
    font-family: cursive;
}
h2{
    font-family: cursive;
}
.body-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
        background-image: url('cyber.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
    }
    p{
        font-size: xx-large;
    }
    sub{
      color:black;
    }
 ol{
    font-size: x-large;
    color:red;
 }
 ul{
    color: aliceblue;
 }
