.p{
    font-size:85px;
    align-items: center;
}
img{
    width: 200px;
    border-radius: 50%;
}
.name{
    font-family: cursive;
}
h2{
    font-family: cursive;
}
.body-text{
    background:scroll
    font-family 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    body {
        text-align: center;
        background-image: url('lock.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        /* color: white; */
    }
    p{
        font-size: xx-large;
    }
    sub{
      color:red;
    }
 ol{
    font-size: x-large;
    color:white;
 }
 ul{
    color: aliceblue;
 }
